:root {
  --main-bg: #faf5f5;
  --white: #ffffff;
  --red: #e94d58;
  --grey: #868585;
}

@font-face {
  font-family: "Minecraft";
  src: url("../assets/fonts/Minecraft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 62.5% equates to 16px w/ rems w/o locking into pixel size for accessibility */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/minecraft_bg.png");
  background-size: cover;
  font-family: "Minecraft", sans-serif;

  .wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 576px) {
      padding: 2rem;
    }

    .gif {
      height: auto;
      @media (max-width: 576px) {
        width: 80%;
      }
    }

    h2 {
      text-align: center;
      font-size: 3.7rem;
      letter-spacing: 5px;
      font-weight: 100;
      color: #ffffff;
      margin: 15px 0;
      @media (max-width: 576px) {
        font-size: 2.8rem;
      }
    }

    .btn-group {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      margin-top: 50px;

      .btn {
        position: absolute;
        width: 16rem;
        height: 6.3rem;
        color: #000000;
        font-size: 1.9rem;
        outline: none;
        border: none;
        cursor: pointer;
        font-family: "Minecraft", sans-serif;
        box-shadow: 0 2px 4px var(--grey);
        letter-spacing: 2px;
        background-image: url("../assets/img/minecraft-sign.png");
        background-size: auto;
        @media screen and (max-width: 576px) {
          width: 145px;
        }

        span {
          position: relative;
        }

        span::after {
          content: "";
          background-image: url("../assets/img//heart.png");
          background-size: cover;
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: middle;
        }
      }

      .yes-btn {
        margin-left: -200px;
        @media (max-width: 576px) {
          margin-left: -170px;
        }
      }

      .no-btn {
        margin-right: -200px;
        background-color: var(--white);
        color: #000000;
        overflow-x: hidden;
        @media (max-width: 576px) {
          margin-right: -170px;
        }
      }
    }
  }
}
